nav {
  list-style: none;
  background: #080808;
}

nav a {
  color: #8c8faf;
  text-decoration: none;
  font-size: 0.8em;
}

.to-nav {
  text-decoration: none;
  padding: 16px;
  display: block;
}

.to-nav:before {
  content: "";
  position:absolute;
  right: 2em;
  top: 1em;
  width: 1.6em;
  height: 0.2em;
  background: #6dc066;  /* PL green */
  box-shadow: 
    0 0.4em 0 0 #6dc066,
    0 0.8em 0 0 #6dc066;
}

nav a:hover,
nav a:focus {
    color: #afafaf;
    border: none;
}

@media screen and (min-width: 900px) {
  nav {
    background: transparent;
    z-index: 2;
  }
  nav li {
    display: inline-block;
    padding-left: 24px;
    padding-top: 16px;
    padding-bottom: 0px;
  }
  nav a {
    float: left;
  }
  #primary-nav {
    position: absolute;
    top: 0px;
    left: 0px;
  }
  .to-nav {
    display: none;
  }
}
