/* 07aug13abu
 * 30jan12jk
 * (c) Software Lab. Alexander Burger
 */

.left {float: left}
.right {float: right}
.clr {clear: both}
.norm {text-align: left}
.align {text-align: right}
.center {text-align: center}
.black {color: black}
.red {color: red}
.green {color: green}
.blue {color: blue}
.bold {font-weight: bold}
.mono {font-family: monospace}

fieldset {
   padding: 0.3em 0.4em 0.7em 0.8em;  /* ie */
}

input, textarea, select {
   font-size: small;
   background-color: #eee;
}

body {
   background-color: #eee;
   margin: 0;
   font-family: 'Exo';
}

h1, h2, h3, h4, h5, h6 {
   clear: both;
   color: #222554;
}

li {
  list-style: none;
}

ul li {
  list-style-type: square;
}

/* Links */
a {
  font-weight: bold;
  color: #6067af;
  text-decoration: none;
}
a:hover,
a:focus {
    color: #6dc066;
}

#main {
  font-size: 16px;
  font-weight: 300;
  color: #444444;
}

#main li {
  margin-bottom: 8px;
}

@media screen and (min-width: 900px) {
  #main {
    font-size: 18px;
  }
}


/* container */
.container {
  position: relative;
  display: block;
  width: 100%;
  max-width: 1080;
    margin: 0 auto;
  box-sizing: border-box; }

/* For devices larger than 400px */
@media screen and (min-width: 400px) {
  .container {
    width: 86%;
  }
}

@media screen and (min-width: 800px) {
  .container {
    max-width: 768px;
  }
}




#searchGrp {
  padding-left: 28px;
}
#searchGrp form {
   margin: 0;
}

#searchGrp strong {
  color: #f05658;
}

#searchGrp input {
   margin: 0;
   border: 2px solid;
   border-color: #8c8faf;
   background-color: #eee;
}

#searchGrp input:focus {
  border-color: #6dc066;
}

#searchGrp .submit {
   background-color: #090910;
   font-weight: bold;
   border: 2px solid;
   border-color: #8c8faf;
   color: #8c8faf;
}

#searchGrp .submit:hover {
   border-color: #6dc066;
   color: #6dc066;
}

#searchGrp .submit:active {
  color: #090910;
  background-color: #6dc066;
}

#searchGrp a {
   font-size: small;
}

#searchGrp a:hover {
   color: #903;
}

/* menu */
#menu {
  background: #090910;
  width: 100%;
}

#menu ul {
  list-style: none;
  padding: none;
}

#menu a {
  color: #8c8faf;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 0.8em;
  padding: none;
  display: block;
}

#menu a img {
  padding-top: 32px;
  padding-left: 40px;
}

#menuLogin {
  padding-left: 24px;
  padding-top: 12px;
  padding-bottom: 32px;
}

#menuLogin a {
  padding-left: 16px;
}

.to-nav {
  text-decoration: none;
  padding: 16px;
  display: block;
}

.to-nav:before {
  content: "";
  position:absolute;
  right: 2em;
  top: 1em;
  width: 1.6em;
  height: 0.2em;
  background: #6dc066;  /* PL green */
  box-shadow: 
    0 0.4em 0 0 #6dc066,
    0 0.8em 0 0 #6dc066;
}

#menu a:hover,
#menu a:focus {
    color: #6dc066;
    border: none;
}

@media screen and (min-width: 900px) {
  #menu {
    z-index: 2;
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
  }
  #menu a {
    float: left;
  }
  #menu a img {
    padding-top: 16px;
    padding-bottom: 12px;
  }
  #menu ul {
    display: inline;
    float: left;
    padding-top: 18px;
  }
  #menu li {
    display: inline-block;
    padding-right: 24px;
  }
  #searchGrp, #menuLogin {
    display: inline-block;
    float: right;
  }
  #searchGrp {
    padding-top: 22px;
    padding-left: 2px;
    padding-right: 24px;
  }
  #menuLogin {
    padding-top: 30px;
    padding-left: 32px;
    padding-bottom: 16px;
  }
  .to-nav {
    display: none;
  }
}



#expires {
   position: absolute;
   top: 8px;
   right: 22px;
   color: #f05658;
   font-size: small;
}

.code {
   font-size: smaller;
   font-family: monospace;
   background-color: #cccee5;
   border-left-color: #6067af;
   border-left-style: solid;
   border-left-width: 3px;
   border-radius: 1px;
   padding: 2px;
   margin-right: 1px;

}

.search {
   border-style: none;
}

.login {
   background-color: #F0F0F0;
}

/*
.edit {
   background-color: #cccee5;
   border: 2px solid #090910;
}

.edit .submit {
  border: 2px solid #6dc066;
  color: #6dc066;
  background-color: #090910;
  font-weight: bold;
}

.edit .submit:hover {
  color: #090910;
  background-color: #6dc066;
}

.edit h2 {
  color: #6dc066;
}
*/

/* From 'form' GUI */
.chart {
   width: 100%;
   white-space: nowrap;
}

.chart td {
   background-color: #E0E0E0;
}

.chart td.T {
   background-color: #D0D0D0;
}

.chart td.nil {
   background-color: white;
}

.btn {
   width: 1em;
}

/*
.submit {
   font-weight: bold;
   background-color: #D0D0D0;
   background-image: -moz-linear-gradient(top, #eee, #ccc);
   background-image: -webkit-linear-gradient(top, #eee, #ccc);
   background-image: linear-gradient(top, #eee, #ccc);
   border: 1px solid #777;
   border-radius: .3em;
   box-shadow: 0 0 1px 1px rgba(255,255,255,.8) inset, 0 1px 0 rgba(0,0,0,.3);
}

.submit:hover {
   background-image: -moz-linear-gradient(top, #fafafa, #ddd);
   background-image: -webkit-linear-gradient(top, #fafafa, #ddd);
   background-image: linear-gradient(top, #fafafa, #ddd);
}

.submit:active {
   box-shadow: 0 0 4px 2px rgba(0,0,0,.3) inset;
   position: relative;
   top: 1px;
}
*/

/* Errors */
.error {
   color: red;
   background-color: yellow;
}

.tiny {
   font-size: xx-small;
   padding: 1px;
}

.note, .ask {
   font-weight: bold;
}

.alert {
   display: inline;
   padding: 1ex;
   margin: 1ex 0 1ex 5em;
   background-color: yellow;
   border: dashed thin;
}

.alert input {
   margin-top: 1ex;
}

.dialog {
   padding: 1ex;
   margin: 1ex 5em 1ex 1em;
   border: dashed thin;
   background-color: #F0F0F0;
}

.hint {
   font-size: small;
   font-family: sans-serif;
   line-height: 140%;
   background-color: rgba(112,112,112,0.3);
}

.hints {
   font-size: small;
   color: black;
   padding-left: 0.4em;
   padding-top: 2px;
   padding-bottom: 2px;
   border: 1px solid;
   background-color: white;
   cursor: default;
}

/* Social share privacy buttons */
#socialshareprivacy img {
   margin: 0;
}
